body {
  background-color: #68C9E8;
  /*text-align: center;*/
}

header {
  text-align: center;
  position: fixed;
  margin-top: 0em;
  padding-top: 1em;
  padding-bottom: .5em;
  width: 100%;
  background-color: #F0F4F5;
  /*border-bottom: 1px solid red;*/
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
}

h1 {
  font-family: 'Redressed', cursive;
  font-size: 6rem;
  text-align: center;
  margin-top: 1em;

  margin: 0 auto;
}

h3 {
  font-size: 1.1rem;
  padding-bottom: 0.75em;
  margin-top: -1em;
  color: blue;
}

#ear {
  height: 3em;
  width: 2.4em;
  /*margin-right: 48.9%;*/
  margin-left: -26.4rem;
  margin-bottom: 2rem;
  margin-top: -50rem;
  transform: rotate(10deg);
}

.instructions {
  padding-bottom: 10px;
  width: 48%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0px;
  margin-top: -.4rem;
  text-align: center;
/*  position: absolute;
  display:  inline-block;*/
  margin: 0 auto;
}

.lists {
  width: 70%;
  height: 45rem;
  display: inline-block;
  text-align: center;
  margin-left: 12rem;
  margin-top: 17em;
  box-sizing: content-box;
 /* float: left;*/
}

.song-list-column {
  padding: .2rem;
  background-color: #C9CFD1;
  height: 20rem;
  width: 25rem;
  border: 1px solid black;
  float: left;
  /*padding: 1em;*/
  font-family: 'Cherry Swash', cursive;
  border-radius: 3em;

}

.artist-list-column {
  padding: .2rem;
  background-color: #C9CFD1;
  height: 34rem;
  width: 25rem;
  border: 1px solid black;
  float: right;
  border-radius: 3em;
}

.note {
  margin: 0 auto;
  z-index: -3;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  border-radius: 30%;

}

.artists {
  padding: .3em;
  font-family: 'Cherry Swash', cursive;
  /*font-size: 2em;*/
}

.buttons {
  font-family: 'Cherry Swash', cursive;
  font-size: 1.3em;
  border: 1px solid red;
  background-color: white;
  border-radius: .5em;
 /* width: 14em;
  height: 11em;*/
}

#artist-list-title {
  font-size: 2em;
  font-family: 'Cherry Swash', cursive;
  padding-top: 0.75em;
  padding-bottom: 0.5em;

}

.song-list-title {
  font-size: 2em;
  padding: 0.75em;
}

.pics {
  width: 14em;
  height: 11em;
}

.startButton {
  font-size: 1.2em;
  background-color: red;
  color: white;
  text-align: center;
}

#song-in-play {
  background-color: white;
  width: 55%;
  height: 4em;
  font-size: 1.3em;
  margin: 0 auto;
  text-align: center;
  border: 4px solid yellow;
  margin-top: 6%;
  padding-top: 3em;
}

/*#score-box {
  border: 3px solid black;
  font-weight: bold;
  color: red;
  font-family: Helvetica;
  width: 130px;
  height: 100px;
  font-size: 1.5rem;
  padding: 3px;
  margin-top: 6rem;
  margin-right: 3rem;
  float: right;
}*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
