body {
  background-color: rgb(255,255,254);
}

header {
  text-align: center;
  position: fixed;
  margin-top: -.75rem;
  padding-top: 1em;
  padding-bottom: .5em;
  width: 100%;
  background-color: rgb(255,255,254);
  border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
}

h1 {
  font-family: 'Redressed', cursive;
  font-size: 6rem;
  text-align: center;
  margin-top: 1em;
  margin: 0 auto;
  text-shadow: 3px 3px 3px cornflowerblue;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 0.75em;
  margin-top: -1em;
  color: cornflowerblue;
}

#ear {
  height: 3em;
  width: 2.4em;
  /*margin-right: 48.9%;*/
  margin-left: -26.4rem;
  margin-bottom: 2rem;
  margin-top: -50rem;
  transform: rotate(10deg);
}

.instructions {
  padding-bottom: 10px;
  width: 48%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0px;
  margin-top: -.4rem;
  text-align: center;
  margin: 0 auto;
}

.lists {
  width: 70%;
  height: 45rem;
  display: inline-block;
  text-align: center;
  margin-left: 12rem;
  margin-top: 16.2em;
  box-sizing: content-box;
}

.song-list-column {
  padding: .2rem;
  /*background-color: #C9CFD1;*/
  background-color: #6BB9F0;
  height: 20rem;
  width: 25rem;
  border: 1px solid black;
  float: left;
  /*padding: 1em;*/
  font-family: 'Cherry Swash', cursive;
  border-radius: 1em;
  margin-top: -.8rem;
  box-shadow: 4px 4px 4px darkgray;
}

.artist-list-column {
  padding: .2rem;
  /*background-color: #C9CFD1;*/
  background-color: #6BB9F0;
  height: 31rem;
  width: 25rem;
  border: 1px solid black;
  float: right;
  border-radius: 1em;
  margin-top: -.8rem;
  box-shadow: 4px 4px 4px darkgray;
}


.note {
  margin: 0 auto;
  z-index: -3;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  border-radius: 30%;
}

.artists {
  padding: .28em;
  font-family: 'Cherry Swash', cursive;
  /*font-size: 2em;*/
}

.buttons {
  font-family: 'Cherry Swash', cursive;
  font-size: 1.3em;
  border: 1px solid red;
  background-color: white;
  border-radius: .5em;
  box-shadow: 4px 4px gray;
 /* width: 14em;
  height: 11em;*/
}

.buttons:hover {
  background-color: pink;
  cursor: pointer;
}

#artist-list-title {
  font-size: 2em;
  font-family: 'Cherry Swash', cursive;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.song-list-title {
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.pics {
  width: 14em;
  height: 11em;
}

.startButton {
  font-size: 1.2em;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 3px 3px darkgray;
}

#song-in-play {
  background-color: white;
  width: 55%;
  height: 4em;
  font-size: 1.3em;
  margin: 0 auto;
  text-align: center;
  border: 4px solid yellow;
  margin-top: 9%;
  padding-top: 3em;
}

#score-box {
  border: 3px solid black;
  border-radius: 2px;
  width: 130px;
  height: 100px;
  padding: 3px;
  position: absolute;
  left: 60px;
  bottom: 10px;
  box-shadow: 2px 2px darkgray;
}

#score-box-header {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  font-family: Helvetica;
}

#actual-score {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding-top: 15px;
  font-family: Arial;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  height: 10rem;
  border: 3px solid black;
  border-radius: 10px;
}

.modal-score {
  color: black;
  font-weight: bold;
  font-size: 2.2rem;
  width: 520px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin: 0 auto;
  font-family: 'Bungee', cursive;
  overflow: hidden;
  line-height: 150%;
}

.modal-header {
  font-size: 2.4rem;
  font-family: Helvetica;
  color: red;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.flash {
  background-color: red;
}

.flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.2s;

    animation-name: flash-animation;
    animation-duration: 0.2s;
}

.flash2 {
  background-color: #51ED1C;
}


.flash2 {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.2s;

    animation-name: flash-animation;
    animation-duration: 0.2s;
}




